html {
  font-family: "Rubik", sans-serif;
}

header .container .container-fluid {
  padding: 35px 0 15px;
}
header .container .container-fluid .navbar-collapse {
  flex-grow: 0;
}
header .container .container-fluid .navbar-collapse .input-group .form-select {
  width: 170px;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  text-transform: capitalize;
  border-right: 1px solid #ebebeb;
  background-color: #f4f4f4;
}
header .container .container-fluid .navbar-collapse .input-group input {
  font-size: 13px;
  background-color: #fff;
  border: 2px solid #ebebeb;
  color: #a9a9a9;
  height: 50px;
  width: 450px;
  padding: 0 60px 0 20px;
  outline: none;
}
header .container .container-fluid .navbar-collapse .input-group button {
  opacity: 1;
  color: #fff;
  background-color: #e75768;
  font-size: 18px;
  font-weight: 500;
  padding: 0 35px;
  transition: all 0.5s;
}
header .container .container-fluid .navbar-collapse .input-group button:hover {
  background-color: #000;
}
header .container .container-fluid .navbar-collapse-2 .header__cart .header__cart__icon {
  position: relative;
}
header .container .container-fluid .navbar-collapse-2 .header__cart .header__cart__icon i {
  font-size: 36px;
  margin-right: 16px;
}
header .container .container-fluid .navbar-collapse-2 .header__cart .header__cart__icon .cart__icon__small {
  top: 0px;
  left: 19px;
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: #fff;
  background-color: #e75768;
  text-align: center;
  line-height: 23px;
}
header .container .container-fluid .navbar-collapse-2 .header__cart .header__cart__text p.sub__title {
  color: #e75768;
  margin-top: 5px;
}

.navbar__content {
  background-color: #2f333a;
  margin-bottom: 35px;
  padding: 3px 0;
}
.navbar__content .navbar .navbar-collapse__1 .navbar-nav .nav-item {
  padding: 0 13px;
}
.navbar__content .navbar .navbar-collapse__1 .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s;
}
.navbar__content .navbar .navbar-collapse__1 .navbar-nav .nav-item .nav-link:hover {
  color: #e75768;
}
.navbar__content .navbar .navbar-collapse__2 {
  padding-right: 60px;
}
.navbar__content .navbar .navbar-collapse__2 h3.title {
  color: #56595e;
  font-size: 14px;
}
.navbar__content .navbar .navbar-collapse__2 .navbar-nav {
  margin-left: 15px;
}
.navbar__content .navbar .navbar-collapse__2 .navbar-nav .nav-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #373b41;
  transition: all 0.5s;
  cursor: pointer;
}
.navbar__content .navbar .navbar-collapse__2 .navbar-nav .nav-item .nav-link {
  color: #56595e;
  transition: all 0.5s;
}
.navbar__content .navbar .navbar-collapse__2 .navbar-nav .nav-item:hover {
  background-color: #e75768;
}
.navbar__content .navbar .navbar-collapse__2 .navbar-nav .nav-item:hover .nav-link {
  color: #fff;
}

form {
  padding: 20px 0 80px;
}
form .row {
  padding-top: 30px;
}

footer .footer__content {
  background-color: #26292e;
  color: #fff;
}
footer .footer__content .container .footer__item {
  padding: 95px 0;
}
footer .footer__content .container .footer__item .footer__contact .footer__phone {
  margin: 30px 0 16px;
  font-size: 24px;
}
footer .footer__content .container .footer__item .footer__contact .footer__phone i {
  color: #e75768;
  font-size: 40px;
}
footer .footer__content .container .footer__item .footer__contact .footer__phone span {
  font-weight: 600;
}
footer .footer__content .container .footer__item .footer__contact p.sub__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 30px;
}
footer .footer__content .container .footer__item .footer__contact .footer__icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer__content .container .footer__item .footer__contact .footer__icon i:hover {
  background-color: #333 !important;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list h3.title {
  font-size: 16px;
  margin: 25px 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list .footer__list .footer__list__item {
  line-height: 40px;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list .footer__list .footer__link {
  color: #999;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list .footer__list .footer__link:hover {
  color: #e75768;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list p.sub__title {
  color: #999;
  margin: 12px 0 25px;
  line-height: 24px;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list h3.title__2 {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list p.sub__title__2 {
  color: #999;
  line-height: 24px;
}
footer .footer__content .container .footer__item .footer__menu .row .footer__content__list p.sub__title__2 span {
  color: #fff;
}
footer .footer__content .footer__bottom {
  border-top: 1px solid #303338;
}
footer .footer__content .footer__bottom .container .footer__bottom__content {
  padding: 30px 0;
}
footer .footer__content .footer__bottom .container .footer__bottom__content .footer__left p.title {
  color: #999;
  line-height: 30px;
}
footer .footer__content .footer__bottom .container .footer__bottom__content .footer__left p.title span {
  color: #e75768;
  cursor: pointer;
}
footer .footer__content .footer__bottom .container .footer__bottom__content .footer__left p.title span:hover {
  text-decoration: underline;
}/*# sourceMappingURL=form.css.map */